@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animación para modales */
@keyframes modalAppear {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Estilos personalizados */
@layer components {
  /* Estilos para registro-item que dependen de JS (tabla) */
  .registro-item.selected {
    @apply bg-gray-200;
  }
  
  .registro-item:hover:not(.selected) {
    @apply bg-gray-50;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .registro-item.selected {
      @apply bg-gray-200;
    }
  }
  
  @media (hover: none) and (pointer: coarse) {
    .registro-item.selected {
      @apply bg-gray-100;
    }
  }
  
  .dark .registro-item.selected {
    @apply bg-gray-800 text-white;
  }
  
  .dark .registro-item {
    @apply bg-transparent text-white;
  }
  
  .dark .registro-item:hover:not(.selected) {
    @apply bg-gray-900;
  }
  
  
  /* Estilos para suma-seleccion */
  #suma-seleccion {
    @apply sticky bottom-0 bg-inherit pt-2 z-[2] mt-4 text-lg;
  }
  
  /* Estilos para móviles */
  @media screen and (max-width: 568px) {
    .dark .registro-item span:last-child {
      @apply text-gray-400;
    }
  }
}

